<!DOCTYPE html>
<html lang="en">
	<head>
		    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->
			<link href="assets/css/font-awesome.min.css" rel="stylesheet">
			<link href="assets/css/transport.css" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
		<style>
		
			
			
			
		</style>
	</head>
	<body ng-app="tranzApp" ><!-- ng-app="transportSystem"> -->
	
		
	
		<!-- <header id="top-menubar">
		
		 </header> -->
		<!-- <div class="page-header">
			<h1>TrAnZport Web Application <small> Enjoy the RIDE </small></h1>
		</div>
 -->
		

		<div id="tabs">
			<ul>
				<li><a  data-item="tabs-1" class="selected">HOME</a></li>
				<li><a  data-item="tabs-2">NAVIGATE</a></li>
				<li><a  data-item="tabs-3">ADHOC</a></li>
				<li><a  data-item="tabs-4">SHIFT</a></li>
				<li><a  data-item="tabs-5">HISTORY</a></li>
			</ul>
			<div class="divider"> </div>
			<div id="tabs-1" class="active" ng-controller="homeController">
			
				<p>{{ name | greet }}</p> 
    			
    			<!-- <p> Your ride will start in another<span class="time"> {{ride.timeToStart}} </span> minutes </p> -->
  			
				<div id="ride">
					<div class="panel">
						<p class="title"> <span ng-if="!ride.type">Ride </span><span ng-if="ride.type=='pickup'">Pickup </span><span ng-if="ride.type=='drop'">Drop </span>@ <i> {{ride.time }}</i> </p> 
					</div>
					<div class="panel">
						<div class="cabDetails panel">
							<div> CAB Number : <span> {{ride.cabNumber}} </span> </div>
							<div> Driver Name : <span>  {{ride.driverName}} </span> </div>
							<div> Mobile Number : <span> {{ride.contactNumber}} </span> </div>
							<div> Starting Point : <span>  {{ride.startingPoint.location}} </span> </div>
							<div> Boarding Point : <span>  {{ride.boardingPoint.location}} </span> </div>
							<div ng-if="ride.type=='drop' && ride.laneNumber">Lane Number : <span>  {{ride.laneNumber}} </span> </div>
						</div>
						<div class="cabStatus panel">
							<p class="title"> CAB Status </p>
							<p class="Status"> {{ride.currentLocation.location}} </p>
							<a class="button"> Navigate </a>
						</div>
					</div>
					<div class="userStatus panel">
						<p class="title subTitle"> My Status </p>
						<div class="userActions panel">
							<a  class="button" ng-click="boarded()">BOARDED</a>
							<a  class="button" ng-click="reached()">REACHED</a>
							<span ng-if="ride.type=='drop'"></span><a  class="button" ng-click="cabNotRequired()">CNR</a>
						</div>
					</div>
				</div>
				
				<!-- <div id="drop">
					<div class="title">
						<p>Drop @ <i> 6:15pm</i> </p> <div id="dRefresh" class="refresh" > <a>REFRESH</a></div>
					</div>
					<div>
						<div class="cabDetails">
							<div> CAB Number : <span> TN19 K 0840 </span> </div>
							<div> Driver Name : <span> Muthu Krishnan </span> </div>
							<div> Mobile Number : <span> 9962234889 </span> </div>
							<div> Boarding Point : <span> Nevile Tower LS </span> </div>
							<div ng-if="true"> Lane Number : <span> 14 </span> </div>
						</div>
						<div class="cabStatus">
							<div> CAB Status </div>
							<div class="Status"> Nevile Tower LS </div>
							<a class="button"> Navigate</a>
						</div>
					</div>
					<div class="userStatus">
						<div> My Status </div>
						<div class="userActions">
							<a  class="button">BOARDED</a>
							<a  class="button">REACHED</a>
							<a  class="button">CNR</a>
						</div>
					</div>
				</div> -->

			</div>
			<div id="tabs-2">
				<p>navigate.</p>
			</div>
			<div id="tabs-3">
				<p>Adhoc.</p>
			</div>
			<div id="tabs-4">
				<p>Shift.</p>
			</div>
			<div id="tabs-5">
				<p>History.</p>
			</div>
		</div>
		<!-- <section id="main-content" ng-view>
			
			<div >
				hello
			</div>
		
		</section> -->
		
		<footer id="footer">
		
		</footer>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
	
		<script src="assets/js/angular.js"></script>
		<script src="assets/js/app.js"></script>
	<!-- 
		<script src="transport.js"></script>
	 	
		<script src="assets/js/controllers.js"></script>
		<script src="assets/js/directives.js"></script>
		<script src="assets/js/filters.js"></script>
		<script src="assets/js/services.js"></script> 
	-->
	
		<script type="text/javascript">
			$(function() {
				$( "#tabs>ul li a" ).click(function(e){
					e.preventDefault();
					console.log(e.target.attributes[0].value);
					var attr= e.target.attributes[0].value;
					$("#tabs>div").removeClass("active");
					var anchor= $( "#tabs ul li a" );
					anchor.removeClass('selected');
					$(e.target).addClass('selected');
					$("#"+attr).addClass("active");
				});
			  });
		</script>
	</body>
</html>