<!DOCTYPE html>
<html lang="en">
	<head>
		    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet"> -->
			<link href="assets/css/font-awesome.min.css" rel="stylesheet">
			<link href="assets/css/transport.css" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			
		<style>
		
			
			
			
		</style>
	</head>
	<body ng-app="tranzApp" ><!-- ng-app="transportSystem"> -->
	
		
	
		<!-- <header id="top-menubar">
		
		 </header> -->
		<!-- <div class="page-header">
			<h1>TrAnZport Web Application <small> Enjoy the RIDE </small></h1>
		</div>
 -->
		

		<div id="tabs" ng-controller="tabsController">
			<ul>
				<li><a  data-item="tabs-1" ng-class="{'selected' : tab==1}" ng-click="homeTab()">HOME</a></li>
				<li><a  data-item="tabs-2" ng-class="{'selected': tab==2 }" ng-click="navigateTab()">NAVIGATE</a></li>
				<li><a  data-item="tabs-3" ng-class="{'selected': tab==3 }" ng-click="adhocTab()">ADHOC</a></li>
				<li><a  data-item="tabs-4" ng-class="{'selected': tab==4 }" ng-click="shiftTab()">SHIFT</a></li>
				<li><a  data-item="tabs-5" ng-class="{'selected': tab==5 }" ng-click="historyTab()">HISTORY</a></li>
			</ul>
			<div class="divider"> </div>
			<div id="tabs-1" ng-class="{'active': tab==1 }" >
			
				<p>{{ name | greet }}</p> 
    			
    			<!-- <p> Your ride will start in another<span class="time"> {{ride.timeToStart}} </span> minutes </p> -->
  			
				<div id="ride">
					<div class="panel">
						<p class="title"> <span ng-if="!ride.type">Ride </span><span ng-if="ride.type=='pickup'">Pickup </span><span ng-if="ride.type=='drop'">Drop </span>@ <i> {{ride.time }}</i> </p> 
					</div>
					<div class="panel">
						<div class="cabDetails panel">
							<div> CAB Number : <span> {{ride.cabNumber}} </span> </div>
							<div> Driver Name : <span>  {{ride.driverName}} </span> </div>
							<div> Mobile Number : <span> {{ride.contactNumber}} </span> </div>
							<div> Starting Point : <span>  {{ride.startingPoint.location}} </span> </div>
							<div> Boarding Point : <span>  {{ride.boardingPoint.location}} </span> </div>
							<div ng-if="ride.type=='drop' && ride.laneNumber">Lane Number : <span>  {{ride.laneNumber}} </span> </div>
						</div>
						<div class="cabStatus panel">
							<p class="title"> CAB Status </p>
							<p class="Status"> {{ride.currentLocation.location}} </p>
							<a class="button"> Navigate </a>
						</div>
					</div>
					<div class="userStatus panel">
						<p class="title subTitle"> My Status </p>
						<div class="userActions panel">
							<a  class="button" ng-click="boarded()">BOARDED</a>
							<a  class="button" ng-click="reached()">REACHED</a>
							<span ng-if="ride.type=='drop'"></span><a  class="button" ng-click="cabNotRequired()">CNR</a>
						</div>
					</div>
				</div>
			</div>
			<div id="tabs-2" ng-class="{'active': tab==2 }" >
				<p>navigate.</p>
				<div id="map">
					
					
				</div>
				<div id="googleMap" style="width:500px;height:380px;"></div>
			</div>
			<div id="tabs-3" ng-class="{'active': tab==3 }">
				<p>Adhoc.</p>
			</div>
			<div id="tabs-4" ng-class="{'active': tab==4 }" >
				<p>Shift.</p>
			</div>
			<div id="tabs-5" ng-class="{'active': tab==5 }" >
				<p>History.</p>
			</div>
		</div>
		<!-- <section id="main-content" ng-view>
			
			<div >
				hello
			</div>
		
		</section> -->
		
		<footer id="footer">
		
		</footer>
		<!-- <script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script> -->
	
		<script src="assets/js/angular.js"></script>
		<script src="assets/js/app.js"></script>
	<!-- 
		<script src="transport.js"></script>
	 	
		<script src="assets/js/controllers.js"></script>
		<script src="assets/js/directives.js"></script>
		<script src="assets/js/filters.js"></script>
		<script src="assets/js/services.js"></script> 
	-->
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	
		<script type="text/javascript">
		 function initialize() {
			  var mapProp = {
			    center:new google.maps.LatLng(12.9786,80.2409),
			    zoom:5,
			    mapTypeId:google.maps.TravelMode.DRIVING
			  };
			  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
			} 
			google.maps.event.addDomListener(window, 'load', initialize);
			
			/*
			function initMap() {
				  var chicago = {lat: 12.9786, lng: -87.65};
				  var indianapolis = {lat: 39.79, lng: -86.14};

				  var map = new google.maps.Map(document.getElementById('map'), {
				    center: chicago,
				    scrollwheel: false,
				    zoom: 7
				  });

				  var directionsDisplay = new google.maps.DirectionsRenderer({
				    map: map
				  });

				  // Set destination, origin and travel mode.
				  var request = {
				    destination: indianapolis,
				    origin: chicago,
				    travelMode: google.maps.TravelMode.DRIVING
				  };

				  // Pass the directions request to the directions service.
				  var directionsService = new google.maps.DirectionsService();
				  directionsService.route(request, function(response, status) {
				    if (status == google.maps.DirectionsStatus.OK) {
				      // Display the route on the map.
				      directionsDisplay.setDirections(response);
				    }
				  });
				}
			*/
/* 			$(function() {
				$( "#tabs>ul li a" ).click(function(e){
					e.preventDefault();
					console.log(e.target.attributes[0].value);
					var attr= e.target.attributes[0].value;
					$("#tabs>div").removeClass("active");
					var anchor= $( "#tabs ul li a" );
					anchor.removeClass('selected');
					$(e.target).addClass('selected');
					$("#"+attr).addClass("active");
				});
			  }); */
		</script>
	</body>
</html>